.wd-btn-tweet {
    width: 100%;
    border-radius: 25px;
}
.wd-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wd-follow-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.wd-post-image {
    border-radius: 25%;
    width: 75px;
    height: 75px;
}
.wd-bottom-left {
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*left: 15px;*/
    font-size: 40px;
    font-weight: bold;
    color: #2d2d2d;
    /*color: white;*/
}
/*.wd-float-left {*/
/*    float: left;*/
/*    width: 75%;*/
/*}*/
/*.wd-float-right {*/
/*    float: right;*/
/*}*/
.wd-color-gray {
    font-size: 15px;
    color: rgb(110,118,125);
}
.wd-border-post {
    border: 1px solid lightgray;
}
.wd-cut {
    overflow: hidden;
    box-sizing: border-box;
}
.wd-border-bold {
    border: 1px solid rgb(50,50,50);
}