.wd-btn-tweet {
    width: 100%;
    border-radius: 25px;
}
.wd-follow-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.wd-post-image {
    border-radius: 25%;
    width: 75px;
    height: 75px;
}
.wd-bottom-left {
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*left: 15px;*/
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.wd-float-left {
    float: left;
    width: 75%;
}
.wd-float-right {
    float: right;
}
.wd-color-gray {
    font-size: 15px;
    color: rgb(110,118,125);
}
